<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>AMUPYTkwNmRjOGNjMDhlJJm+9a14DBx6Cf7D66OomzTBPhysAP7OXyAxxK2L8GptNtAC0TbekaL7FGz0yOg9q9wIQtSa63d8950SsdaE2Wu5MhQKKBZknRh+ckMo7yP/jGBFXOPOlp6Jar0WxNyY90rltRa5eNXTOjKG8c/OtLeA4x9WImurw824TCa1uHwgKgdAggDV</string>
	<key>email</key>
	<string>jo.cranford@gmail.com</string>
</dict>
</plist>
