<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2013-03-26T05:29:39Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>bottomKeyCode</key>
	<integer>125</integer>
	<key>bottomModifiers</key>
	<integer>1835008</integer>
	<key>fullscreenKeyCode</key>
	<integer>36</integer>
	<key>fullscreenModifiers</key>
	<integer>1835008</integer>
	<key>hasStartedBefore</key>
	<true/>
	<key>leftKeyCode</key>
	<integer>123</integer>
	<key>leftModifiers</key>
	<integer>1835008</integer>
	<key>rightKeyCode</key>
	<integer>124</integer>
	<key>rightModifiers</key>
	<integer>1835008</integer>
	<key>topKeyCode</key>
	<integer>126</integer>
	<key>topModifiers</key>
	<integer>1835008</integer>
</dict>
</plist>
